<% my_message_errors %>
<div class = 'central_field' id = 'm_1600wh'>
	<%= navigation_string.html_safe %>
</div>

	<div id = 'newMsgForm'>
		<%= newMessageFormInitial('block', '.edit_message').html_safe %>
	</div>

<div class = 'central_field' id = 'm_1600wh'>
	<%= navigation_string.html_safe %>
</div>



