<%= navigation_string.html_safe %>
<% my_message_errors %>
<br />
<div id = 'b_wrapper'>
		<div id = 'newMsgForm'>
			<%= newMessageFormInitial('block', '.edit_message').html_safe %>
		</div>
</div>
<br />  
<%= navigation_string.html_safe %>
<br />

