<h2>Проверка E-mail адреса</h2>
<p>
    Данное письмо пришло на Ваш электронный адрес с целью проверки указанного Вами электронного адреса на сайте <%= link_to 'Самарского Парапланерного Клуба "ВЫСОТА"', 'http://visota-paraclub.ru/', :target => '_blank' %>
</p>
<p>
    Пройдите по ссылке, чтобы иметь возможность получать уведомления на этот почтовый адрес: <%= link_to "Ссылка на подтверждение", @target_link %>
</p>
