<h2>Добро Пожаловать в <b><%= link_to 'Самарский Парапланерный Клуб "ВЫСОТА"', 'http://visota-paraclub.ru/', :target => '_blank' %></b></h2>
<br />
<p>
    Перейдите по ссылке, чтобы подтвердить подлинность вашего аккаунта <b><%= link_to "Ссылка на подтверждение аккаунта", @target_link %>
</p>