<% i=0 %>
<% if user_type == 'super_admin' %>
    <% del_messages = @theme.messages.rewhere(status_id: 2) %>
    <%if del_messages.size > 0%>
        <div class = 'cBoxSplitter'>
            <div class = 'm_1000wh'>
                <h3>
                    Удалённые сообщения
                </h3>
            </div>
        </div>
    	<% del_messages.each do |message| %>
    		<% i+=1 %>
    		<%= message_theme_box(message, true, i).html_safe %>
    	<% end %>
        <div class = 'cBoxSplitter'>
            <div class = 'm_1000wh'>
                <h3>
                    Видимые пользователям сообщения
                </h3>
            </div>
        </div>
    <%end%>
<%end%>
<% if @theme.messages != [] %>
	<% @theme.messages.each do |message| %>
		<% i+=1 %>
		<%= message_theme_box(message, true, i).html_safe %>
	<% end %>
<% else %>
	<div class = 'm_1000wh tp-pad-m'>
		<p class = 'istring norm tb-pad-m medium-opacity'>В теме нет ни одного сообщения...</p>
	</div>
<% end %>
<%= render "messages/form" %>