<div class = 'm_1000wh'>
	<h1><%= @title %></h1>
	<%= navigation_string.html_safe %>
</div>
<% theme_errors %>
<div class = 'c_box even'> 
	<div class = 'm_1000wh' id = 'newMsgForm'>
		<%= buildThemeForm %>
	</div>
</div>
<div class = 'm_1000wh'>
	<%= navigation_string.html_safe %>
</div>
