<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>
<% theme_errors %>
<div class = 'c_box even'> 
	<div class = 'm_1000wh tb-pad-m' id = 'newMsgForm'>
		<%= buildThemeForm %>
	</div>
</div>
<div class = 'm_1000wh tb-pad-s'>
	<%= navigation_string.html_safe %>
</div>
