<%i=0%>
<div class = 'c_box odd'>
	<div class = 'm_1000wh tb-pad-m' >
            <% @topics.each do |t| %>
                <% if i == 0 %>
                    <div class = 'section group'>
                <% end %>
                <% i += 1 %>
                    <div class = 'col span_6_of_12'>
                        <%= topic_mini_block_content(t).html_safe %>
                    </div>
                <% if i == 2 %>
                    </div>
                    <% i = 0 %>
				<% end %>
            <% end %>
            <% if i == 0 %>
                <div class = 'section group'>
            <% end %>
                <div class = 'col span_6_of_12'><%= guest_book_vl_block.html_safe %></div>

                </div>
	</div>
</div>