<%topic = Topic.find(6)%>
<div class = 'c-box even'>
    <div class = 'm_1000wh tb-pad-m'>
        Чтобы пройти авторизацию необходимо:
        <div class = 'section group'>
            <div class = 'col span_1_of_12'>
            </div>
            <div class = 'col span_8_of_12'>
                <ul>
                    <li type = '1' value = '1'>
                        Проверить правильность написания указанного Вами адреса электронной почты: <span class = 'bi-string'><%= current_user.email %></span>
                    </li>
                    <li type = '1'>
                         Если адрес указан неверно измените его <%= link_to 'Изменить адрес', edit_user_path(id: current_user, tab: 'email_upd'), class: 'b_link', style:'font-size:14px;' %>
                         <br /> 
                         Если адрес указан верно отправить письмо - <span id = 'wait_message_send'><a id = 'sendCheckMail' class = 'b_link' style = 'font-size: 14px;' href = '/send_email_check_message.json?id=<%= current_user.id.to_s %>' data-remote = 'true' >Отправить проверочное сообщение</a></span>
                    </li>
                    <li type = '1'>
                        Пройти по ссылке указанной в письме. 
                    </li>
                </ul>
                <br />
                <br />
            </div>

        </div>
        <p>
            Если пройдя по пунктам Вам так и не удалось пройти авторизацию, Вы можете написать о проблеме в разделе <%= link_to topic.name, topic, class: 'b_link', style:'font-size:14px;' %>. 
        </p>
    </div>
</div>

