<div class = 'm_1000wh'>
        <p class = 'string'>На электронный адрес <b><%= current_user.email %></b> было отправлено сообщение с ссылкой на подтверждение Вашей учётной записи. <br />
			Подтвердив свою учётную запись Вы сможете делиться своими фотографиями и видеозаписями.</p>
            
</div>
