<p class = 'string'>На электронный адрес <%= current_user.email %> было отправлено сообщение с ссылкой на подтверждение Вашей учётной записи. <br />
			Подтвердив свою учётную запись Вы сможете делиться своими фотографиями и видеозаписями.</p>
