<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<div class = 'c_box even'>
    <div class = 'm_1000wh tb-pad-m'>
       <%= render 'form' %> 
    </div>
</div>
<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>