<% @title = 'Новое видео' if @title == nil %>
<div id = 'lines' class = 'inline_c1'>
	<div class = 'inline_cbbl'></div>
	<div class = 'left_c3'>
		<%= render 'form' %>
	</div>
	<div class = 'inline_csr'></div>
	<div class = 'right_c2'>
	</div>
</div>

