<div class = 'c_box odd'> 
    <div class = 'm_1000wh tb-pad-s'>
        <h3>
            Что нового...
        </h3>
    </div>
    <div class = 'm_1000wh tb-pad-s'>
        <% i = 0%>
        <div class = 'section group'>
            <% @events.each do |e| %>
                <% i += 1%>
                <%=event_compact_item(e, @events.size, i).html_safe%>
            <%end%>
        </div>
    </div>
</div>

