<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <div class = "section group">
            <div class = "col span_4_of_12">
                <%= add_new_event if userCanCreateEvent?%>
            </div>
            <div class = "col span_8_of_12">
                <%= will_paginate @event %>
            </div>
        </div>
    </div>
</div>

<% if @events != [] %>
    <% i = 0 %>
    <% @events.each do |event| %>
        <%= event_index_item(event, i).html_safe %>
        <%i+=1%>
    <% end %>
<% else %>
    <div class = 'm_1000wh'>
        <p class = 'istring'>
            Нет ни одной новости
        </p>
    </div>
<% end %>
<div class = "c_box">
    <div class = 'm_1000wh '>
        <div class = "section group">
            <div class = "col span_4_of_12">
            </div>
            <div class = "col span_8_of_12">
                <%= will_paginate @event %>
            </div>
        </div>
    </div>
</div>

