<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <%= control_buttons([{:name => 'К списку новостей', :access => true, :type => 'arrow-right', :link => events_path}]).html_safe %>
    </div>
</div>
<%= render 'form' %>
<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
