<%= navigation_string.html_safe %>
<br />
<div class = 'c_box'>
    <div class = 'central_field' id = 'm_1000wh'>
        <%= control_buttons([{:name => 'К списку новостей', :access => true, :type => 'follow', :link => events_path}]).html_safe %>
    </div>
</div>
<%= render 'form' %>
<br />
<%= navigation_string.html_safe %>
<br />
<br />
