<% 
    @albums = (@entities.nil?)? @albums : @entities
%>
<% if @albums.blank?%>
    <div class = 'c_box'>
        <div class = 'm_1000wh tb-pad-l'>
            <p class = 'istring medium-opacity'>Ни одного альбома не найдено</p>
        </div>
    </div>
<%else%>
    <div class = 'c_box'>
        <div class = 'm_1000wh tb-pad-m'>
            <%i=0%>    
            <% @albums.each do |alb| %>
                <% i+=1 %>
                <%if i == 1%>
                    <div class = 'section group'>
                <%end%>
                    <div class = 'col span_6_of_12'>
                        <div class = 'even m_95p'>
                        <div class = 'm_90p tb-pad-sm'>
                            <%= album_mini_table(alb).html_safe %>
                        </div>
                    </div>
                    </div>
                <%if i == 2 || alb == @albums.last %>
                    <% i = 0 %>
                    </div>
                <%end%>
            <% end %>  
        </div>
    </div>
<%end%>

      	