<% 
    @albums = (@entities.nil?)? @albums : @entities
%>
<% if @albums.blank?%>
    <div class = 'c_box'>
        <div class = 'row tb-pad-l'>
            <div class = "small-12 columns">
                <p class = 'istring medium-opacity'>Ни одного альбома не найдено</p>
            </div>
        </div>
    </div>
<%else%>
    <div class = 'c_box'>
        <div class = 'row small-up-1 medium-up-2 tb-pad-m'>
            <% @albums.each do |alb| %>
                    <div class = 'column column-block tb-pad-s'>
                        <div class = 'even m_95p'>
                            <div class = 'm_90p pa-thumbs tb-pad-m'>
                                <%= album_mini_table(alb).html_safe %>
                            </div>
                        </div>
                    </div>
            <% end %>  
        </div>
    </div>
<%end%>

      	