		<div id = 'm_full' class = 'odd'>
			<div class = 'm_1000wh'>
					<div class="section group" style = 'padding: 78px 0 78px 0'>
					   <div class="col span_1_of_12">
					   </div>
					   <div class="col span_5_of_12">
                           <!--
							<h2>
								Адрес базирования клуба: 
							</h2>
                            
							<p class = 'string norm'>
								Россия, Самарская обл., г.Самара ул.Чекистов д.170 <% if controller.action_name == 'contacts' %><br />(метка 1 на карте)<%end%>
							</p>
                            <br />
                                -->
							<h2>
								Филиал клуба: 
							</h2>
							<p class = 'string norm'>
                                Обучение с возможностью проживания (Полное погружение)<br />
                                Россия, Ульяновская обл., Барышский район,<br /> с. Малая Бекшанка ул.Центральная д.1<br />
                                телефон +7-929-791-61-31 Владимир
                                 <% if controller.action_name == 'contacts' %><br />(метка 2 на карте)<%end%>
							</p>
					   </div>
					   <div class="col span_1_of_12">
					   </div>
					   <div class="col span_5_of_12">
							<h2>
								Телефоны: 
							</h2>
							<p class = 'string norm'>
								Самара: +7-927-294-30-01 Владимир Архиповский (Руководитель клуба)
							</p>
                            <br />
							<p class = 'string norm'>
								Самара: +7-927-200-86-90 Александр Потлов<br />(Зам. руководителя клуба по летной и учебной работе)
							</p>
                            <br />
							<p class = 'string norm'>
								Самара: +7-903-309-04-12 Юрий Запорожец<br />
                                (Ознакомительные полёты на паралёте)
							</p>
                            <br />
							<p class = 'string norm'>
								Самара: +7-927-695-95-28 Роман Козвонин<br />
                                (Инструктор по кайтингу, ведение сайта)
							</p>
                            <br />
							<p class = 'string norm'>
								Новокуйбышевск: (235) 6-27-44 Борис Лузин
							</p>
                            <br />
					   </div>
					</div>
			</div>
		</div>