<div id="m_full" class="even">
	<div class="m_1000wh">
		<div class="section group" style="padding: 47px 0 47px 0; height: 90px;">
			<div class="col span_2_of_12">
			</div>
			<div class="col span_1_of_12">
				 <a target = '_blank' rel = 'nofollow' href = 'http://vk.com/visota_paraclub'>
                     <img src = "/social_svg/vk.svg" class = "social-icons normal">
                     <img src = "/social_svg/vk_hover.svg" class = "social-icons hovered">
                 </a>
			</div> 
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
				  <a rel = 'nofollow' target = '_blank' href = 'https://www.facebook.com/groups/visotaparaclub/'>
                      <img src = "/social_svg/fb.svg" class = "social-icons normal">
                      <img src = "/social_svg/fb_hover.svg" class = "social-icons hovered">
                  </a>
			</div>
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
				 <img src = "/social_svg/twitter.svg" class = "social-icons normal">
                 <img src = "/social_svg/twitter_hover.svg" class = "social-icons hovered">
			</div>
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
                <a rel = 'nofollow' target = '_blank' href = 'https://www.youtube.com/channel/UCwu4vP60870cI_vSYjj9ApQ'>
				 <img src = "/social_svg/youtube.svg" class = "social-icons normal">
                 <img src = "/social_svg/youtube_hover.svg" class = "social-icons hovered">
             </a>
			</div>
			<div class="col span_2_of_12">
			</div>               
		</div>
	</div>
</div>