<div id="m_full" class="even">
	<div id = "pages-social-menu" class="row">
			<div class="small-4 large-offset-2 large-2 columns">
				 <a target = '_blank' rel = 'nofollow' href = 'http://vk.com/visota_paraclub'>
                     <div class = "social-icons normal float-center"><img src = "/social_svg/vk.svg"></div>
                     <div class = "social-icons hovered float-center" style = "display: none;"><img src = "/social_svg/vk_hover.svg"></div>
                 </a>
			</div> 
			<div class="small-4 large-offset-2 large-2 columns">
				  <a rel = 'nofollow' target = '_blank' href = 'https://www.facebook.com/groups/visotaparaclub/'>
                      <div class = "social-icons normal float-center"><img src = "/social_svg/fb.svg"></div>
                      <div class = "social-icons hovered float-center" style = "display: none;"><img src = "/social_svg/fb_hover.svg"></div>
                  </a>
			</div>
            <!-- 
			<div class="small-3  large-2 large-offset-1 columns">
				 <div class = "social-icons normal"><img src = "/social_svg/twitter.svg"></div>
                 <div class = "social-icons hovered"><img src = "/social_svg/twitter_hover.svg"></div>
			</div>
            -->
			<div class="small-4 large-offset-2 large-2 columns">
                <a rel = 'nofollow' target = '_blank' href = 'https://www.youtube.com/channel/UCwu4vP60870cI_vSYjj9ApQ'>
				 <div class = "social-icons normal float-center"><img src = "/social_svg/youtube.svg"></div>
                 <div class = "social-icons hovered float-center" style = "display: none;"><img src = "/social_svg/youtube_hover.svg"></div>
                </a>
			</div>            
	</div>
</div>