<div id="m_full" class="even">
	<div class="m_1000wh">
		<div class="section group" style="padding: 47px 0 47px 0">
			<div class="col span_2_of_12">
			</div>
			<div class="col span_1_of_12">
				 <a target = '_blank' rel = 'nofollow' href = 'http://vk.com/visota_paraclub'><div class = 'social-icons' id = 'vkontakte'></div></a>
			</div> 
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
				  <a rel = 'nofollow' target = '_blank' href = 'https://www.facebook.com/groups/visotaparaclub/'>
                      <div class = 'social-icons' id = 'facebook'></div>
                  </a>
			</div>
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
				 <div class = 'social-icons' id = 'twitter'></div>
			</div>
			<div class="col span_1_of_12">
			</div>
			<div class="col span_1_of_12">
				 <div class = 'social-icons' id = 'googlePlus'></div>
			</div>
			<div class="col span_2_of_12">
			</div>               
		</div>
	</div>
</div>