<div id = 'm_full'>
        <div class = 'central_field' id = 'm_1000wh' style = 'padding: 50px 0 50px 0;'>
             <div class = 'section group'>
                 <div class = 'col span_5_of_12'>
                    <h1 class = 'blue'>О КЛУБЕ «ВЫСОТА»</h1>
                    <br />
                    <p>
                    В конце 1997 года после увольнения в запас из Вооруженных сил подполковником Архиповским В.С. было принято решение о создании парапланерного клуба. Первым членом клуба был Василий Ткачев. В марте 2000 года Самарский парапланерный клуб «Высота» принят в члены Объединенной Федерации сверхлегкой авиации (удостоверение № 202 от 9 марта 2000 г). <br />Руководителем клуба стал его организатор Архиповский Владимир Семенович.</p>
                </div>
                 <div class = 'col span_1_of_12'>
                 </div>
                 <div class = 'col span_3_of_12'>
                     <p class = 'quote'>
                         «Высота - развитие и движение вперёд, а не расстояние в метрах от поверхности земли»
                     </p>
                     <br />
                     <p class = 'quote'>
                         В. Ткачёв, первый<br />
                         <span class = 'blue_undline'>член клуба</span>
                     </p>
                 </div>
                 <div class = 'col span_1_of_12'>
                 </div>
                 <div class = 'col span_2_of_12'>
                     <p class = 'istring_m'>
                         Стать выше себя не просто, <br />
                         И всем по плечу едва ли.<br />
                         Но все мы такого роста,<br />
                         Какой потолок избрали.
                     </p>
                 </div>
            </div>
             <div class = 'section group'>
                 <div class = 'col span_5_of_12' style = 'background-image: url("/files/glider.png");'>
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <p>
                       За время работы клуба сформировался коллектив <br />единомышленников - людей неравнодушных,<br /> увлеченных, всегда готовых прийти на помощь и<br /> объединенных сильной любовью к небу.
                   </p>
                </div>
                 <div class = 'col span_1_of_12'>
                     
                 </div>
                 <div class = 'col span_5_of_12'>
                     <p>
                         Первыми пилотами клуба были Василий Ткачев, Борис Лузин, Павел Козлуков. За время существования клуба летную подготовку прошли более 150 человек из Самары,
                         а также Пензы, Пугачева, Ульяновска, Уральска, Саратова, Инты, Тюмени и других городов. Пилотами стали не только мужчины, но и девушки, среди которых особо хотелось бы отметить Елену Самарину, у которой есть чему поучиться даже мужчинам.
                     </p>
                     <br />
                     <br />
                     <p>
                         Большую информационную и техническую помощь в организации клуба оказала компания «ПарААвис», прежде всего в лице директора Архиповского Александра Семеновича. Так, в 1998 году на этапе создания клуба появился первый параплан Командор-28 с подвесной системой «Профи».
                     </p>
                 </div>
            </div>
             <div class = 'section group'>
                 <div class = 'col span_7_of_12'>
                    <img src = '/files/team.jpg' width = '560px'>
                </div>
                 <div class = 'col span_1_of_12'>
                 </div>
                 <div class = 'col span_4_of_12'>
                     <p>
                         Многие пилоты клуба принимают активное участие в различных поисково-спасательных и благотворительных мероприятиях, некоторые из спортсменов неоднократно участвовали в различных мероприятиях.
                     </p>
                         <br />
                     <p>
                Среди них можно особо отметить Дениса Втулкина, Романа Козвонина, Рустема Саттарова, Александра Потлова, Юрия Запорожца, Андрея Мельникова, Вячеслава Степанова, Олима Хакимова, Григория Бондарева, Алексея Бережного, Станислава Таламагина.
                     </p>
                 </div>
            </div>
             <div class = 'section group'>
                 <div class = 'col span_1_of_12'>
                    <img src = '/files/2009.png' />
                </div>
                 <div class = 'col span_2_of_12'>
                     <p>2009 год - соревнование «Большие гонки» по маршруту "Ульяновск-Самара",  в котором член клуба Денис Втулкин занял первое место в перелете на мотопарапланах класса "Стандарт".</p>
                 </div>
                  <div class = 'col span_1_of_12'>
                 </div>
                  <div class = 'col span_1_of_12'>
                      <img src = '/files/2011.png' />
                 </div>
                 <div class = 'col span_2_of_12'>
                     <p>
                         2011 год - открытый Чемпионат Приволжского Федерального Округа СЛА, в котором команда клуба "Высота" (Д. Втулкин, А. Спиридонов, И. Федоров) заняла первое место в дисциплине "Точность приземления".
                     </p>
                 </div>
                  <div class = 'col span_1_of_12'>
                 </div>
                  <div class = 'col span_1_of_12'>
                     <img src = '/files/2011_2012.png' />
                 </div>
                 <div class = 'col span_3_of_12'>
                     <p>
                 2011-2012 года - клубные соревнования, в которых Альберт Галлямов стал призером среди мотопарапланеристов с ранцевой силовой установкой;   2012 год - гонка между мотопланеристами и автомобилем «Hуundai LX 35» по маршруту от п. Ново-Семейкино до автосалона на Южном Шоссе, в которой член клуба Игорь Бородавкин одержал победу.
                     </p>
                 </div>
            </div>
        </div>
</div>