<div style = 'position: relative; margin-right: 0; width: 98%; text-align: right;'>
	<span class = 'flow_b_str'>
	Стать выше себя не просто,<br />
	И всем по плечу едва ли.<br />
	Но все мы такого роста,<br />
	Какой потолок избрали.
	</span>
</div>
<div class = 'central_field' style = 'width: 98%;'>
<h2>История образования клуба</h2>
<br />
<span class = 'article_content'>
<p><%= image_tag '/files/emblema.gif', :style => 'float: left; padding-right: 10px;' %>В конце 1997 года после увольнения в запас из Вооруженных сил подполковником Архиповским В.С. было принято решение о создании парапланерного клуба. Первым членом клуба был Василий Ткачев. Он и его отец придумали название клуба – Высота. Под Высотой они имели в виду не расстояние в метрах от поверхности земли, а развитие и движение вперед.
В марте 2000 года Самарский парапланерный клуб «Высота» принят в члены Объединенной Федерации сверхлегкой авиации (удостоверение № 202 от 9 марта 2000 г.). Руководителем клуба стал его организатор Архиповский Владимир Семенович.</p>

<p>
Большую информационную и техническую помощь в организации клуба оказала компания «ПарААвис», прежде всего в лице директора Архиповского Александра Семеновича. Так, в 1998 году на этапе создания клуба появился первый параплан Командор-28 с подвесной системой «Профи».
Первыми пилотами клуба были Василий Ткачев, Борис Лузин, Павел Козлуков. За время существования клуба летную подготовку прошли более 150 человек из Самары, а также Пензы, Пугачева, Ульяновска, Уральска, Саратова, Инты, Тюмени и других городов. Пилотами стали не только мужчины, но и девушки, среди которых особо хотелось бы отметить Елену Самарину, у которой есть чему поучиться даже мужчинам.
</p>
<br />
<div class = 'central_field' style = 'width: 980px;'><%= image_tag '/files/IMG_0107.jpg', :width => '980px' %></div>
<h2>О жизни клуба</h2>
<p>
Клуб образовал сообщество состоящее из разных и интересных людей, принимающих активное участие в различных поисково-спасательных и благотворительных мероприятиях, среди них можно выделить Дениса Втулкина, Романа Козвонина, Рустема Саттарова, Александра Потлова, Юрия Запорожца, Андрея Мельникова, Вячеслава Степанова, Олима Хакимова, Григория Бондарева, Алексея Бережного, Станислава Таламагина.
</p>
<br />
<p>
Спортсмены клуба неоднократно участвовали в различных мероприятиях:	
</p>
<ul>
	<li><b>2006 год</b> – Самарский Авиасалон;</li>
	<li><b>2008 год</b> – Самарский и Ульяновский Авиасалоны;</li>
	<li><b>2009 год</b> - соревнование «Большие гонки» по маршруту "Ульяновск-Самара", в котором член клуба Денис Втулкин занял первое место в перелете на мотопарапланах класса "Стандарт"; </li>
	<li><b>2011 год</b> - открытый Чемпионат Приволжского Федерального Округа СЛА, в котором команда клуба "Высота" (Втулкин Денис, Спиридонов Александр, Федоров Иван) заняла первое место в дисциплине "Точность приземления"; </li>
	<li><b>2011-2012 года</b> - клубные соревнования, в которых Альберт Галлямов стал призером среди мотопарапланеристов с ранцевой силовой установкой;</li>
	<li><b>2012 год</b> - гонка между мотопланеристами и автомобилем «Hуundai LX 35» по маршруту от п. Ново-Семейкино до автосалона на Южном Шоссе, в которой член клуба Игорь Бородавкин одержал победу; </li>
	<li>В историю кайтовых соревнований вошли пилоты клуба Борис Лузин и Денис Втулкин.</li>
</ul>
<br />
<div class = 'central_field' style = 'width: 980px;'><%= image_tag '/files/IMG_0108.jpg', :width => '980px' %></div>
<br />
<p>
За время работы клуба сформировался коллектив единомышленников – людей неравнодушных, увлеченных, всегда готовых прийти на помощь, объединенных любовью к небу. Леонардо да Винчи сказал: «Раз испытав полет, твои глаза навечно будут устремены в небо. Однажды там побывав, на всю жизнь ты обречен тосковать о нем».

</p><br /><br /><p>В 2010 году, в честь десятилетия клуба, Олегом Боровым и Алексеем Бережным был смонтирован фильм "Дорога в небо"</p> 
<div class = 'central_field' style = 'width: 640px;'>
<iframe width="640" height="360" src="//www.youtube.com/embed/PLLtFrO3U4A" frameborder="0" allowfullscreen></iframe>
</div>
<h2>История сайта</h2>
<p>
	Сайт, как средство связи единомышленников и отражение жизни клуба имеет свою историю. Первый сайт клуба был разработан Козлуковым П.Н.. Впоследствии совершенствование и техническую поддержку сайта осуществляли Анатолий Чупрынин, Дмитрий Кириллов, а с 2012 года – Роман Козвонин.
</p>
</span>
</div>