<div class = 'central_field' id = 'm_1000wh'>
    <h1 class = 'blue' style = 'padding: 50px 0 0 0;'>
        КОНТАКТЫ
    </h1>
</div>
<%= render 'phones_and_adresses' %>
<div class = 'central_field' id = 'm_1000wh'>
    <div class = 'section group' style = 'padding: 0 0 50px 0;'>
        <div class = 'col span_12_of_12'>
            <%= render 'map' %>
        </div>
    </div>
</div>   
	
