<span class = 'article_content'>
<div class = 'central_field' style = 'width: 98%;'>
	<p>
		Самарский Парапланерный Клуб "Высота" является официальным поставщиком снаряжения: 
		<br />
		<a target = "_blank"  title = "Перейти на страницу магазина 'Крылья'" href = "http://www.krilyev.net/" target = "_blank" ><img class = "image_links" align = "left" valign = "top" src = "/banners/logokriliya.png"> </a>
		В интернет-магазине представлен широкий ассортимент снаряжения для парапланерного, парашютного спорта и кайтинга.
	</p>
	<p>	
		Самарский Парапланерный Клуб "Высота" является официальным представителем ведущих производителей парапланерного снаряжения:
	</p>

</div>
</span>
<br />
<br />
<br />