<div class = 'central_field' id = 'm_1000wh' class = 'even'>
        <div class="row" style = 'padding: 50px 0 0 0;'>
            <div class="small-12 medium-6 columns">
                                <h1 class = 'blue'>
                                    СНАРЯЖЕНИЕ
                                </h1>
                                <br />
                                <p>
                                    Самарский Парапланерный Клуб "Высота" является официальным поставщиком снаряжения компании ParAAvis. В интернет магазине представлен широкий ассортимент снаряжения для парапланерного, парашютного спорта и кайтинга. У нас вы можете взять в аренду, либо приобрести парапланерное оборудование.
                                </p>
            </div>
            <div class="small-12 medium-3 medium-offset-1 columns end">
                <img class = "float-center tb-pad-sm" src = '/files/paraavis.jpg' />
            </div>
        </div>
        <div class = "row" style = 'padding: 0 0 50px 0;'>
            <div class = "small-12 medium-6 columns end" >

                                <br />
                                <br />
                                <p>
                Компания ПарААвис на сегодняшний день является самым крупным производителем парапланерного снаряжения в России. Спортсмены, которые выбирают парапланы ПарААвис, регулярно занимают призовые места на соревнованих в пределах СНГ и достойно выступают на международных соревнованиях.
                                </p>
                                 <br />
                                <p>
                                    На сайте компании параавис вы можете подробнее ознакомиться с характиристиками моделей и видами оборудования
                                    <a href = 'http://paraavis.com/' target = '_blank'>
                                        paraavis.com
                                    </a>
                                </p>
                                 <br />
                                 <p>
                                     Ознакомиться с Б/У снаряжением или подать свое объявление можно на нашем сайте в разделе 
                                     <a href = '/topics/9' target = '_blank'>
                                         купи-продайка
                                     </a>
                                 </p>
            </div>
        </div>
</div>
