<div class = 'm_1000wh'>
    <div class = 'section group'>
        <div class = 'col span_8_of_12'>
			<%= feed_nav_buttons %>
        </div>
        <div class = 'col span_4_of_12'>
            <!-- Здесь должна быть пагинация-->
        </div>
    </div>
</div>
<div class = 'central_field' id = 'b_wrapper'>
		
</div>
<div class = 'm_1000wh'>
    <div class = 'section group'>
        <div class = 'col span_8_of_12'>
			<%= feed_nav_buttons %>
        </div>
        <div class = 'col span_4_of_12'>
            <!-- Здесь должна быть пагинация-->
        </div>
    </div>
</div>