<div id = 'm_full' class = 'even'>
    <div id = "pages-index-block-1" class = 'row'>
        <div class = 'small-6 medium-4 columns'>
            <div class = 'pages-club-funcs'>
                <img src = '/files/learning.jpg' vspace = '0'>
                <div>
                    <p>Круглогодичное обучение полётам на параплане</p>
                </div>
            </div>
        </div>
        <div class = 'small-6 medium-4 columns'>
            <div class = 'pages-club-funcs'>
                <img src = '/files/rent.jpg' vspace = '0'>
                <div>
                    <p>Помощь в выборе нового оборудования и аренда клубного</p>
                </div>
            </div> 
        </div>
        <div class = 'small-6 small-offset-3 medium-offset-0 medium-4 columns end'>
            <div class = 'pages-club-funcs'>
                <img src = '/files/tandem.jpg' vspace = '0'>
                <div>
                    <p>Полёт с инструктором без специальной подготовки</p>
                </div>
            </div>
        </div>               
    </div>
</div>
<div id = 'm_full' style = 'background: white;'>
    <div id = "pages-index-block-2" class = 'row'>
            <div class = 'small-6 medium-5 columns'>
                 
                    <p style = 'font-size: 1.2em;'>ПАРАПЛАНЕРИЗМ</p>
                    <br />
                    <p >Люди издавна мечтали летать. В XX веке был изобретён параплан, который позволил осуществить давнюю мечту человека - парить в небе наравне с птицами. Парапланеризм - необычный спорт, это особый стиль жизни со своей философией.  Давайте поговорим об основополагающих принципах и понятиях парапланеризма.</p>
                    <br />
                     <a href = '/paragliding' class = 'b_link' target = '_blank'><img src = '/files/arr.png'> Подробнее</a>
                 
            </div>
            <div class = 'small-6 medium-4 large-3 large-offset-1 columns'>
                   <p class = 'quote-text'>«Раз испытав полет, твои глаза навечно будут устремлены в небо. Однажды там побывав, на всю жизнь ты обречен тосковать о нем»</p>
                   <br />
                   <p class = 'quote-author'>
                       <span class = 'blue_undline'>Леонардо д</span>а Винчи
                   </p>
            </div>
            <div class = 'medium-2 large-offset-1 columns hide-for-small-only'>     
                    <p>Мы считаем, что параплан может передавать невероятное чувство полета.</p>
                    <br />
                    <p>Мы искренне хотим, чтобы вы полюбили этот спорт так же, как и мы.</p>
            </div>               
        </div>
</div>

<div class = 'pBox' id = 'pages-index-block-3'>

			<div class = 'pB-wrapper pB-wr-abs pB-top-to-bot' pb-speed = '0.55' pb-start-position = 'over' style = 'background-image: url("/parallax_imgs/pBlock_1.jpg");height:1047px; background-position:center;'></div>

		<div class = 'row pB-content'>
                <div class = "small-10 small-centered medium-8 columns" style = 'height: 100%;'>
    			<table style = 'width: 100%; height: 100%;'>
    				<tr>
    					<td align = 'center' valign = 'middle'>
    						<span class = "pb-text">ЕСЛИ У ТЕБЯ ЕСТЬ КРЫЛЬЯ, ПОЧЕМУ БЫ НЕ ЛЕТАТЬ?</span>
    					</td>
    				</tr>
    			</table>
                </div>
		</div>
</div>


