<div id = 'm_full'>
    <div class = 'central_field' id = 'm_1000wh' style = 'background-image: url("/files/wing.jpg");'>
        <div id = "pages-paragliding-block-1" class = "row">
            <div class = "small-8 medium-6 columns">
                <h1 class = 'blue'>
                    ПАРАПЛАНЕРИЗМ
                </h1>
                <p>
                    Люди издавна мечтали летать. В XX веке был изобретён параплан, который позволил осуществить давнюю мечту человека - парить в небе наравне с птицами. Парапланеризм - необычный спорт, это особый стиль жизни со своей философией.  Давайте поговорим об основополагающих принципах и понятиях парапланеризма. Знакомство с парапланеризмом стоит начать с изучения самого главного - параплана. Отметим, что быстрее и безопаснее всего это можно сделать в нашей школе. 
                </p>
            </div>
            <div class = "small-3 small-offset-1 medium-offset-2 large-2 large-offset-2 columns">
                <p class = 'istring_m'>
                    В отличие от парашюта,
                    на параплане действительно летают. Парапланерист ловит восходящие потоки воздуха и параплан взлетает.
                </p>
            </div>
        </div>
        <div id = "pages-paragliding-block-2" class = "row">
            <div class = "small-5 columns">
                <p>
                Параплан - это сверхлегкий летательный аппарат, напоминающий по своей конструкции планирующий парашют. Большой плюс параплана в том, что он достаточно прост в управлении, а его обслуживание не отнимет у вас много времени. Летать может любой здоровый человек, прошедший обучение. Полный вес параплана от 7 до 20 кг, его можно положить в обычный рюкзак. Всего пять минут
                и вы готовы взлететь! Разве не здорово?
                </p>
            </div>
            <div class = "small-6 medium-5 small-offset-1 columns end">
                <p>
                    Полет на параплане дает непередаваемое чувство свободного полета, без преград в виде кабины, иллюминаторов или стекла фонаря. Используя восходящие потоки, на параплане можно часами летать под облаками, покрывая десятки и сотни километров без единой капли горючего. А в сочетании с парамотором параплан становится маленьким самолетом, который помещается в багажнике, а взлететь может с любой поляны. Параплан - это самая простая и демократичная, но все же настоящая авиация. 
                </p>
            </div>
        </div>
    </div>
</div>
<div id = 'm_full' class = 'even'>
    <div id = "pages-paragliding-block-3"  class = 'central_field' id = 'm_1000wh'>
        <div class = "row">
            <div class = 'small-12 medium-5 columns'>
                <h1 class = 'blue'>
                    КТО МОЖЕТ ЛЕТАТЬ?
                </h1>
                <p>
                    Почти каждый человек, обладающий умеренным здоровьем. Вам придется бежать, выдерживая сопротивление параплана, иметь сносную координацию движений и неплохую реакцию. Во многих странах мира заниматься парапланеризмом разрешено с 16 лет.
                </p>
            </div>
            <div class = 'small-12 medium-6 medium-offset-1 columns'>
                <h1 class = 'blue'>
                    КОГДА МОЖНО ЛЕТАТЬ?
                </h1>
                <p>
                    Заниматься парапланеризмом можно круглый год, зима - самое предпочтительное время для обучения. Зимой атмосфера стабильная, ветер не имеет термической турбулентности, которая опасна для начинающего пилота, и поэтому самые приятные полеты в динамике около склона. Зато лето - это время для высоких термальных полетов.
                </p>
            </div>
        </div>
    </div>
</div>
<div id = 'm_full'>
    <div id = "pages-paragliding-block-3" class = 'central_field' id = 'm_1000wh' style = 'padding: 50px 0 50px 0;'>
        <div class = "row">
            <div class = 'small-6 columns'>
                <img src = '/files/glider.jpg' style = 'width: 100%;'>
            </div>
            <div class = 'small-6 medium-5 columns end'>
                <h1 class = 'blue'>
                    СТРОЕНИЕ ПАРАПЛАНА
                </h1>
                <p>
                    В лётной школе мы подробно рассказываем о конструкции параплана. На рисунке слева изображена схема типичного параплана. Три основые составляющие любого параплана - купол эллипсоидной формы, стропы и подвесная система.
                </p>
            </div>
        </div>
    </div>
</div>