<div style = 'position: relative; margin-right: 0; width: 98%; text-align: right;'>
	<span class = 'flow_b_str'>
		Профессионал - тот любитель, который <br />
		не бросил в самом начале, возможно <br />
		потому, что не мог долго заниматься <br />
		ни чем другим...<br />
		<%= link_to 'Ричард Бах', 'https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%85,_%D0%A0%D0%B8%D1%87%D0%B0%D1%80%D0%B4', :class => 'b_link_bolder', :style => 'font-size:13pt;' %>
	</span>
</div>
<div class = 'central_field' style = 'width: 98%;'>
	<span class = 'article_content'>
		<b>Обучение проводится согласно программы подготовки пилотов воздушных серхлегких судов, утвержденной начальником УЛС ФАВТ Минтранса РФ в 2010 г.</b><br />
		<a name = 'free'></a>
		<h2>Обучение свободным полётам</h2><br />
		<p>
		Весь процесс обучения займет у вас 12 часов теоретических занятий, на которых вы узнаете основы аэродинамики, микрометеорологии, медицины и воздушного права; а также 30 часов практических занятий, которые первоначально проводятся на летной площадке клуба в пос.Яицкий, а затем на горе рядом с селом Большая Раковка (70 км от Самары). За это время вы научитесь взлетать, управлять направлением и скоростью полета, совершать посадку - одним словом пройдете базовый курс обучения пилотированию параплана. Длительность курса зависит от Ваших навыков при выполнении упражнений, погодных условий (осадков, направления и скорости ветра) и временем, которым Вы располагаете. Обычно это занимает 1-2 месяца. По окончании теоретического курса Вы будете сдавать экзамен. Практические упражнения оцениваются инструктором прямо во время их выполнения, и запись о их зачете заносится в учебную тетрадь пилота. После окончания курса обучения и сдачи экзаменов, Вы получите Летную книжку пилота. В нее заносятся все сведения о пилоте. Соответсвующие разделы содержат информацию о квалификации пилота, допусках к разным видам полетов, сданных зачетах и экзаменах, текущему и годовому налету, участии в соревнованиях. Летная книжка дает вам возможность летать на дельтадромах СНГ и учавствовать в соревнованиях. Закончившие программу первоначального обучения получают третий разряд по парапланерному спорту.	
		</p>
		<div class = 'central_field' style = 'width: 980px;'><%= image_tag '/files/learn_mount_paragliding.jpg', :width=>'980px' %></div>
		<br />
		<a name = 'ppg'></a>
		<h2>Обучение полетам с ранцевой силовой установкой и на паралете.</h2><br />
		<p>
			Первоначальные занятия на данные категории проводятся по курсу свободных полетов, для приобретения базовых навыков работы с крылом. Далее после нескольких занятий на горе, последующие занятия проводятся на летной площадке клуба в пос. Яицкий.
		</p><br />
		<div class = 'central_field' style = 'width: 980px;'><%= image_tag '/files/learn_ppg.jpg', :width=>'980px' %></div>
		<a name = 'kite'></a>
		<h2>Обучение кайтингу</h2>
		<p>
			Занятия проводятся на базе клуба в пос. Яицкий. Изучаются устройство кайтов, меры безопасности. Отрабатываются упражнения по пилотированию кайта без горных лыж и сноуборда. После усвоения материала постановка и движение на горных лыжах и сноуборде. Среднее время обучения 2 часа. Далее самостоятельные тренировки.
		</p>
		<div class = 'central_field' style = 'width: 980px;'><%= image_tag '/files/learn_kite.jpg', :width=>'980px' %></div>
	</span>
</div>