<div id="m_full">
    <div class="central_field" id="m_1000wh" style="padding: 50px 0 50px 0;background-image: url(./files/wing.jpg);">
        <div class="section group" style="padding: 0 0 50px 0;">
            <div class="col span_6_of_12">
                <h1 class="blue">
                    ОБУЧЕНИЕ СВОБОДНЫМ ПОЛЁТАМ
                </h1>
                <p style = 'padding-top: 21px;'>
                    Весь процесс обучения займет у вас 12 часов теоретических занятий, на которых вы узнаете основы аэродинамики, микрометеорологии, медицины и воздушного права; а также 30 часов практических занятий, которые первоначально проводятся на летной площадке клуба в пос.Яицкий, а затем на горе рядом с селом Большая Раковка (70 км от Самары). За это время вы научитесь взлетать, управлять направлением и скоростью полета, совершать посадку - одним словом пройдете базовый курс обучения пилотированию параплана. 
                </p>
            </div>
            <div class="col span_4_of_12">
            </div>
            <div class="col span_2_of_12">
                <p class="istring_m">
                    Обучение проводится согласно программе подготовки пилотов воздушных серхлегких судов, утвержденной начальником УЛС ФАВТ Минтранса РФ
                    в 2010 г.
                </p>
            </div>
        </div>
        <div class="section group">
            <div class="col span_5_of_12">
                <p>
                    Длительность курса зависит от Ваших навыков при выполнении упражнений, погодных условий (осадков, направления и скорости ветра) и временем, которым Вы располагаете. Обычно это занимает 1-2 месяца. По окончании теоретического курса Вы будете сдавать экзамен. Практические упражнения оцениваются инструктором прямо во время их выполнения, и запись о их зачете заносится в учебную тетрадь пилота.  
                </p>
            </div>
            <div class="col span_1_of_12">
            </div>
            <div class="col span_5_of_12">
                <p>
                    После окончания курса обучения и сдачи экзаменов, Вы получите Летную книжку пилота. В нее заносятся все сведения о пилоте. Соответсвующие разделы содержат информацию о квалификации пилота, допусках к разным видам полетов, сданных зачетах и экзаменах, текущему и годовому налету, участии в соревнованиях. Летная книжка дает вам возможность летать на дельтадромах СНГ и учавствовать в соревнованиях. Закончившие программу первоначального обучения получают третий разряд по парапланерному спорту. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="even" id="m_full">
    <div class="central_field" id="m_1000wh">
        <div class="section group">
            <div class="col span_6_of_12" style="padding: 68px 0 68px 0;">
                <h1 class="blue">
                    ОБУЧЕНИЕ ПОЛЁТАМ С РАНЦЕВОЙ<br /> СИЛОВОЙ УСТАНОВКОЙ И НА ПАРАЛЁТЕ
                </h1>
                <p style = 'padding-top: 21px; margin-right: 30px;'>
                   Первоначальные занятия на эти категории проводятся по курсу свободных полетов, для приобретения базовых навыков работы с крылом. Далее после нескольких занятий на горе, последующие занятия проводятся на летной площадке клуба в пос. Яицкий.
                </p>
            </div>
            <div class="col span_6_of_12" style = "margin: 0 0 0 0; height: 327px;">
                <img src="./files/paramoto.jpg" style = 'height: 100%;'>
            </div>
        </div>
    </div>
</div>
<div id="m_full">
    <div class="central_field" id="m_1000wh">
        <div class="section group" style = "padding: 68px 0 68px 0;">
            <div class="col span_6_of_12" >
                <img src="./files/snowkiting.jpg">
            </div>

            <div class="col span_5_of_12" >
                <h1 class="blue" style = 'top:0;'>
                    ОБУЧЕНИЕ КАЙТИНГУ
                </h1>
                <p style = 'padding: 21px 0 0 0;'>
                    Занятия проводятся на базе клуба в пос. Яицкий.
                    Изучаются устройство кайтов, меры безопасности. Отрабатываются упражнения по пилотированию кайта без горных лыж и сноуборда.
                    После усвоения материала постановка и движение на горных лыжах
                    и сноуборде. Среднее время обучения 2 часа. Далее самостоятельные тренировки.
                </p>
            </div>
        </div>
    </div>
</div>