			<h2>Header 2-d level - Заголовок второго уровня</h2>
			<h3>Header 3-d level - Заголовок третьего уровня</h3>
			
			<br />
			<br />

			<div id = 'lines' class = 'inline_c1'>
					<div class = 'inline_c31'></div>
					<div class = 'left_c1'>
						<h3>left_container</h3>Товарищи! сложившаяся структура организации играет важную роль в формировании новых предложений. Товарищи! укрепление и развитие структуры требуют определения и уточнения соответствующий условий активизации. Идейные соображения высшего порядка, а также новая модель организационной деятельности способствует подготовки и реализации соответствующий условий активизации.
						<a class = 'b_link' href = '#'>b_link</a> | <a class = 'y_link' href = '#'>y_link</a>
						<a class = 'button_link' href = '/index'><div class = 'b_grey'><p class = 'b_link_name'>Серая кнопка</p></div></a><br >
						<a class = 'button_link' href = '/index'><div class = 'b_grey'><p class = 'b_link_name'>Серая кнопка</p></div></a>
						<a class = 'button_link' href = '/index'><div class = 'b_green'><p class = 'b_link_name'>Зелёная кнопка</p></div></a>
						<a class = 'button_link' href = '/index'><div class = 'b_blue'><p class = 'b_link_name'>Зелёная кнопка</p></div></a>
					</div>
					<div class = 'inline_c32'></div>
					<div class = 'middle_c'>
						<h3>central_container</h3>Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке направлений прогрессивного развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации.
	Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют от нас анализа модели развития. Задача организации, в особенности же консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
					</div>
					<div class = 'inline_c33'></div>
					<div class = 'right_c1'>
						<h3>Right_container</h3>
						Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа модели развития. С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Таким образом сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют от нас анализа дальнейших направлений развития.
	Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
	Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют определения и уточнения модели развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
					</div>
			</div>
<div id = 'lines' class = 'inline_c1'>
	<div id = 'lines' class = 'inline_cbl'></div>
	<div id = 'lines' class = 'left_c2'>
		Товарищи! консультация с широким активом требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет собой интересный эксперимент проверки форм развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий.
Не следует, однако забывать, что новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия.
Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
				
	</div>
	<div id = 'lines' class = 'inline_c33'></div>
	<div id = 'lines' class = 'left_r1'></div>
</div>

			<div id = 'lines' class = 'inline_c1'>
				<div class = 'inline_cbbl'></div>
				<div class = 'left_c3'>
				<div class = 'bl_1'>
						<div class = 'bl_1_h'>
							<div class = 'bl_1_h_link'><p>Название раздела</p></div>	
						</div>
						<div class = 'bl_1_body'>
							<table>
								<tr>
									<td align = 'left' valign = 'top'>
										<div class = 'bl_1_b_left_wrapper'></div>
										<div class = 'bl_1_b_left'>
											<img src = '/develope/topic_image/GOPR0190.MP4_snapshot_12.51__2012.11.04_11.12.47_.jpg'>
											Тем: 10 | Сообщений: 1000
										</div>
									</td>
									<td align = 'left' valign = 'top'>
										<div class = 'bl_1_b_right'>
											12.02.2014 <img class = 'ava_mini' src = '/develope/avatar/thumb_y_066c9fc1.jpg' > <a class = 'b_link_bolder' href = '#'>Пользователь</a> 
											<hr />
												Открыл тему: <span><b>Размножение приматов вневоле</b></span>
											<hr />
											
											<p>
					
											</p>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class = 'bl_1_bottom'>
						</div>
					</div>

				</div>
				<div class = 'inline_csr'></div>
				<div class = 'right_c2'>
				Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Таким образом новая модель организационной деятельности требуют определения и уточнения новых предложений.
			Равным образом реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
			Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
			Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Таким образом рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий.
			Задача организации,
				</div>
			</div>
			<div class = 'inline_c1'>
				<div class = 'mono_c'>
					mono_container
				</div>
			</div>
			
			<div id = 'lines' class = 'inline_c1'>
				<div class = 'inline_cbbl'></div>
					<div class = 'left_c3'>
					</div>
				<div class = 'inline_csr'></div>
					<div class = 'right_c2'>
					</div>
			</div>
			
<button>A button element</button>

<input type="submit" value="A submit button">

<a href="#">An anchor</a>

<div class="demo-description">
<p>Examples of the markup that can be used for buttons: A button element, an input of type submit and an anchor.</p>
</div>