<h2>Новый комментарий к видео</h2>
<p><%= @message.video.link %></p>
<p>
     <b><%= @message.user.name %></b> добавил комментарий: 
</p>
<p>
    <%= @message.content.escapeBbCode %>
</p>
<p>
    <%= @target_link.html_safe %>
</p>
