<h2>Ответ на комментарий к фотографии</h2>
<p>
    <img src = "http://visota-paraclub.ru<%= @message.photo.link %>" width = "300px" />
</p>
<p>
     <b><%= @message.user.name %></b> ответил на комментарий к фотографии: 
</p>
<p>
    <%= @message.content.escapeBbCode %>
</p>
<p>
    <%= @target_link.html_safe %>
</p>
