<div class = 'c_box'>
	<div class = 'm_1000wh tb-pad-s'>
		<ul id = 'update_photos_form'> 
            <%if !@photos.blank?%>
                <%delFlag = userCanDeleteEntityPhoto?(@photos.first)%>
                <% @photos.each do |e| %>
                    <%= edit_photos_item(e, delFlag).html_safe %>
                <% end %>
            <% end %>
		</div>
	</div>
</div>
<br />
<br />