/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lightbox
 *= require_self
 *= require jquery-ui/dialog
 *= require_tree .
 */
@font-face {
    font-family: 'ubuntu_bold';
    src: url('/fonts/ubuntu/Ubuntu-B.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_bold_italic';
    src: url('/fonts/ubuntu/Ubuntu-BI.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_regular';
    src: url('/fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
    
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_regular_italic';
    src: url('/fonts/ubuntu/Ubuntu-RI.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_light';
    src: url('/fonts/ubuntu/Ubuntu-L.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_medium';
    src: url('/fonts/ubuntu/Ubuntu-M.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'magistral_norm';
    src: url('/fonts/magistral/MagistralC.otf') format('truetype');
    font-style: normal;
}

$global-width: 1100px;

@import "containers";
@import "foundation-sites";
@import "motion-ui";
@import "_settings";

@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-grid;
@include foundation-typography;
@include foundation-menu;
@include foundation-title-bar;
//@include foundation-top-bar;
@include foundation-menu-icon;

@include foundation-button;
//@include foundation-forms;
//@include foundation-thumbnail;
//@include foundation-menu;
//@include foundation-dropdown-menu;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-badge;
//@include foundation-orbit;
@include foundation-reveal;
@include foundation-close-button;
@include foundation-media-object;

#top_photo, #top 
{
    position: relative; 
    width:100%;
    max-width:1600px;
    margin-left: auto; 
    margin-right: auto; 
    z-index: 1; 
    background-position:center;
    background-size: cover;
}
#top
{
    #logo-column
    {
        margin-top:23px; 
    }
    #menu-column
    {
        padding: 0 0 0 0; 
        margin-top:56px;
    }
    @include breakpoint(small only) {
        #logo-column
        {
            margin-top:5px; 
        }
        #site-name-column
        {
            padding-top: 0; 
            margin-top:28px;
            .site-name li
            {
                height:20px;
                font-size: 1em;
                display: inline-block;
            }
        }
        #aboutClubLink
        {
            border-radius: 30px;
            margin-top: 50px;
            width:100%;
            p 
            {
                padding: 15px 0px 15px 0px;
                font-size: 0.9em;
            }
            div
            {
               border-radius: 30px; 
            }
        }

      
    }
    @include breakpoint(medium only) {
        #logo-column
        {
            padding-top: 0; 
            margin-top:5px; 
        }
        #menu-column
        {
           margin-top:18px; 
        }
        #site-name-column
        {
            margin-top:25px;
            .site-name li
            {
                height:30px;
                font-size: 1.5em;
                display: inline-block;
                padding-right: 0.25em;
            }
        }
        #aboutClubLink
        {
            border-radius: 30px;
            margin-top: 30px;
            p 
            {
                padding: 15px 24px 15px 24px;
                font-size: 0.93em;
            }
            div
            {
               border-radius: 30px; 
            }
        }
        #mainMenu 
        {
            li
            {
                font-size: 0.85em;
            }
    		a {
          		padding: 5px 10px 5px 10px;
    		  }
            #c_nav_li
            {
                a
                {
                    padding: 5px 9px 5px 9px;
                }
            }
        }
      
    }
    @include breakpoint(large) {
        #site-name-column
        { 
            margin-top:50px;
            .site-name li
            {
                height:60px;
                font-size: 3em;
                display: block; 
            }
        }
        #aboutClubLink
        {
            border-radius: 30px;
            margin-top: 35px;
            p 
            {
                padding: 15px 24px 15px 24px;
                font-size: 0.93em;
            }
            div
            {
               border-radius: 30px; 
            }
        }
        #mainMenu 
        {
            li
            {
                font-size: 1em;
            }
    		a {
          		padding: 6px 16px 6px 16px;
    		  }
            #c_nav_li
              {
                  a
                  {
                      padding: 6px 15px 6px 15px;
                  }
              }
        }

    }
    #site-name-column
    {
        
        .site-name li
        {
            color: white;
            font-family: $font_family_1; 
            //padding: 0;
            margin: 0;
            
        }
        
    }
    #mainMenu { 
        float:right;
        height: 40px; 
		li {
            font-family: $font_family_1; 
			color: black; 	
            //font-size: 1em;
		   }
        li:hover {span {color: $main_color;}}
		#c_nav_li {	

                            border-width: 1px;
                            border-radius: 16px;
                            border-color:$main_color;     
					a {
                        color: $main_color;
                        //padding: 6px 15px 6px 15px;
                      }
                  }	
			
		a {
      		//padding: 6px 16px 6px 16px;
			color: black;
            &:hover
            {
                color: $main_color;
            }
		  }
	}
    #mLogo 
    {
        cursor:pointer;
    }
    #aboutClubLink
    {
        color: white;
        position: relative;
        text-align: center;
        border-color: white;
        border-width: 1px;
        //border-radius: 30px;
        //margin-top: 35px;
        cursor:pointer;
        float: left;
        p 
        {
            //padding: 15px 24px 15px 24px;
            //font-size: 0.93em;
            font-family: ubuntu_light, sans-serif;
        }
        a {
            text-decoration: none; color:white;
        }
        div{
            position:absolute; width: 100%; height:100%; background-color: #ffffff; /*border-radius: 30px;*/ @include my_opacity(0);@include animation($time_1);
        }
        div:hover {@include my_opacity(0.2);}
    }
}


#middle 
{
    position: relative; 
    width: 100%; 
    z-index: 1;
    min-height: 500px;
}
#bottom, #footer
{
    position: relative; 
    width: 100%; 
    z-index: 1;
}
#footer
{
    background-color:$fiveth_color;
}

h1, h2, h3, h4 {font-weight: normal;}	
body {
	background-color: #ffffff;
    /* min-width:1000px;*/
    font: 100%/1.5 $font_family_1;
    color: $text_color_1;
	}
h1 {
	font-family: $font_family_1; 
	font-size: 1.375em; 
	color: $text_color_1;
  }
  h1.blue {color: $link_color;}
h2 {
	font-family: $font_family_1; 
	font-size: 1.125em; color: $main_color;
   }
h3 {
	font-family: $font_family_3; 
	font-size: 1em; 
	color: $text_color_1;
  }
h4 {
  	font-family: $font_family_2; 
  	font-size: 9pt;
  	color: $main_color;
    .black {color: $text_color_1;}
    }


html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.waitbar, .wb-items
{
    position:relative;
    width: 80px;
    height:10px;
}



html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li, fieldset, form, label { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; border-style: solid;}
ol, ul { list-style: none; }
hr {margin: 0;}

.tb-pad-s {padding: 10px 0 10px 0;}
.tb-pad-sm {padding: 20px 0 20px 0;}
.tb-pad-m {padding: 30px 0 30px 0;}
.tb-pad-ml {padding: 45px 0 45px 0;}
.tb-pad-l {padding: 60px 0 60px 0;}

/*mainMenu*/




    #bottomClubName 
      {
        color: white; font-family: $font_family_5; font-size: 1.125em; vertical-align:middle;
      }
	.main-menu
    {
		z-index: 550;
        ul
        {
            list-style: none;
            li
            {
        		position: relative;
        		display: inline-block;
                cursor:pointer;
                a
                {
                    position: relative;
                    display: block;
                    text-decoration: none;
                } 
            }
        }
    }
    #responsive
    {
        background-color: darken($primary-color, 15%);
    }
    #responsive-toggle-menu
    {
        background-color: darken($primary-color, 22%);
        a
        {
            color: white;
            padding-left: 8px;
            padding-right:8px;
            padding-bottom: 8px;
            padding-top:8px;
        }
        li:hover
        {
          background-color: darken($primary-color, 10%);  
        }
        #c_nav_li
        {
          background-color: darken($primary-color, 16%);   
        }
        li{display: block;}
    }
    
	#bottomMenu { 
		//height: 40px; 
		li {
    		color: white; 
    		font-family: $font_family_5; 
    		font-size: 1.125em; 
    		z-index: 500;
      		margin-left: 12px;
      		margin-right: 12px;
      		a {
      			color: white;
                padding-bottom: 7px;
      		  }	
		  }
          li:hover
          {
  			border-bottom-width: 2px;
  			border-bottom-color:white; 
          }
	}

/*mainMenu end*/
/*user session menu*/    
    #ses_p 
    {
        ul#userMenu 
        {
        	list-style: none; 
            float: right; 
            position: relative;
            li{
                float: left; 
                font-size: 12px; 
                padding: 0px 15px 0px 15px;
                cursor:pointer;
            
                a
                {
                    @include animation($time_1);
                    color: #afafaf;
                }
              }
           li:hover, li#c_nav_li
              {
                  a
                  {
                      color: gray;
                      span
                      {
                          text-decoration:underline;
                      }
                  }
              }
              i{padding-right:3px;}
        }
        .sesLink, .sesText
            {
                font-size: 12px;
                padding: 0px;
                margin:0px;
                text-decoration:none;
                color: #898f99;
            }
        #sesText
            {
                border-radius: 8px;
                border-width: 1px;
                border-style: solid;
                border-color: #afc5d1;
                width: 130px;
                font-size: 12px;
                padding: 5px;
            }
        .sesLink:hover {text-decoration:underline;}
    }
    
    /*foundation_icons*/
    .fi-small {font-size: 12px;}
    .fi-medium {font-size: 18px;}
    .fi-large {font-size: 24px;}
    .fi-largest {font-size: 32px;}
    .fi-grey {color: gray;}
    .fi-blue {color: $main_color;}
    .fi-float-left {display: inline-block; padding-left:10px;}
    .fi-float-right {float: right;}    


//----удалить по завершению
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.62%;
}
.span_10_of_12 {
  	width: 83.25%;
}

.span_9_of_12 {
  	width: 74.87%;
}

.span_8_of_12 {
  	width: 66.5%;
}

.span_7_of_12 {
  	width: 58.12%;
}

.span_6_of_12 {
  	width: 49.75%;
}

.span_5_of_12 {
  	width: 41.37%;
}

.span_4_of_12 {
  	width: 33%;
}

.span_3_of_12 {
  	width: 24.62%;
}

.span_2_of_12 {
  	width: 16.25%;
}

.span_1_of_12 {
  	width: 7.875%;
}
