// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

p.quote-text, p.quote-author
{
    font-size: 1.25em;
    @include breakpoint(small only)
    {
        font-size: 1.0em;
    }
    @include breakpoint(medium only)
    {
        font-size: 1.1em;
    }
     
}
p.quote-text 
{
    color: $link_color;
    font-family:$font_family_6;
}
p.quote-author
{
    color: $link_color;
    font-family:$font_family_1;
}
span.blue_undline{border-bottom: 3px solid #176bb5; padding-bottom: 14px;}

#pages-index-block-1
{
    padding: 78px 0 78px 0;
    .pages-club-funcs
    {
        @extend .central_field;
        p
        {
            font-size: 0.9rem;
        }
        max-width: 300px; 
        width: 100%;
        background:white; 
        text-align: center; 
        border-bottom: 1px solid #e1e7eb; 
        img 
        {
            width: 100%; 
            height:auto; 
            display: none;
        }
        div 
        {
            height: 50px;
            margin: 0 10px 0 10px;
        }
    }
    @include breakpoint(small only)
    {
        padding: 10px 0 10px 0;
        .pages-club-funcs
        {
            max-width: 100%;
            margin-top: 30px; 
            p
            {
                font-size: 0.7rem;
            }
        }
    }
    @include breakpoint(medium only)
    {
        padding: 39px 0 39px 0;
        .pages-club-funcs
        {
            p
            {
                font-size: 0.75rem;
            }
        }
    }
}

#pages-index-block-2
{
    padding: 81px 0 81px 0; 
    background-repeat: no-repeat; 
    background-image: url("/files/davinci.jpg");
    @include breakpoint(small only)
    {
        padding: 30px 0 30px 0;
    }
    @include breakpoint(medium only)
    {
        padding: 40px 0 40px 0;
    }
}

#pages-index-block-3
{
    height:428px;
    @include breakpoint(small only)
    {
        height:250px;
    }
    @include breakpoint(medium only)
    {
        height:300px;
    }
}
/*social icons*/
#pages-social-menu
{
    padding: 20px 0 20px 0; 
    margin: 0;
    .social-icons
    {
        position: relative;
        width: 90px;
        height: 90px;
        img
        {
            position: relative;
        }
        &.normal
        {
            display: block;
            z-index: 100;
        }
        &.hovered
        {
            z-index: 99;
        }
    }
}
/*social icons end*/
#pages-contacts-block
{
    padding: 78px 0 78px 0;
    @include breakpoint(small only)
    {
        padding: 25px 0 25px 0;
        .columns
        {
            padding-top: 20px;
        }
    }
    @include breakpoint(medium only)
    {
        padding: 39px 0 39px 0;
    }
}
// about_us
#pages-about-block-1
{
    padding: 50px 0 50px 0;
    @include breakpoint(small only)
    {
        padding: 15px 0 15px 0;
        .columns
        {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    @include breakpoint(medium only)
    {
        padding: 25px 0 25px 0;
    }
}
#pages-about-block-3
{
    padding-bottom: 50px;
    #pages-about-sub-block-1
    {
        .columns
        {
            padding-bottom: 20px;
        }
    }
    @include breakpoint(medium down)
    {
        padding-bottom: 0px;
        .columns
        {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
#pages-about-block-4
{
    @include breakpoint(medium down)
    {
        padding: 25px 0 25px 0;
    }
}
