// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin my_opacity($t){opacity: $t;filter: alpha(opacity=$t*100);-moz-opacity: $t;}
@mixin animation($t)
	{
	-webkit-transition-duration: $t;
    -o-transition-duration: $t;
    -moz-transition-duration: $t;
    transition-duration: $t;
	}
#phTop, #phContent, #photoField,#phInfo {position: relative; width: 100%;}
#phTop {
		height: 50px;
		background-color: #484848;
		border-bottom: 1px solid #666666;
		z-index: 10;
	   }
#phInfo 
{
	min-height: 300px;
}
#phContent 
{
	#photoField
	{
		background-color: black;
		z-index: 5;
		img {border-left: 1px solid #404040; border-right: 1px solid #404040;}
		
	}
	#photoPagination
	{
		background-color: #2d2d2d;
		height:65px;
		border-top: 1px solid #404040;
		z-index: 10;
	}
	.ph-paginate 
	{
		width:100px; 
		float:left;
		position:relative; 
		margin-left: 5px;
		background-repeat:none;
		-webkit-background-size:cover;
		-o-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
		height: 50px;
		cursor:pointer;
		
		
	}
	.ph-cur 
	{
		border: 1px solid #3084c9;
	}
	.ph-h 
	{
		display: none;
	}
	#paginationLine
	{
		padding-top: 5px;
		height:100%;
		width: 810px;
		
	}
	.ph-arrows
	{
		position: relative;
		height: 100%;
		/*display:inline-block;*/
		background-repeat:none;
		width: 33px;
		height: 50px;
		float:left;
		cursor: pointer;
	}
	.ph-arr-left
	{
		background-image: url('/files/bl_arr_l.png');
		
	}
	.ph-arr-right
	{
		background-image: url('/files/bl_arr_r.png');
	}
	.ph-big-links
	{
		position: absolute;
		height: 100%;
		width: 40%;
		z-index: 9999;
		cursor: pointer;
        
	}
    .ph-big-links:hover
    {
        #iIcon{@include my_opacity(0.8);}
   
    }
    #iIcon 
    {
        position:absolute;
        width:50px;
        height:45px;
        background-repeat:no-repeat;
        @include my_opacity(0.2);
        @include animation(400);
    }
	.ph-big-prev
	{
		left: 0;
        #iIcon 
        {
            left:0;
            background-image:url('/img/prev.png');
        }

	}
	.ph-big-next
	{
		right:0;
        #iIcon 
        {
            right:0;
            background-image:url('/img/next.png');
        }
	}
}