$min_width: 1100px;
$main_color: #3084c9;
$link_color: #176bb5;
$second_color: #e1e7eb;
$third_color: #f4f7fb;
$fourth_color:#cbe0f2;
$fiveth_color: #2e4e5e;
$text_color_1: #6d6d6d;
$text_color_2: #1a2d5d;
$text_color_3: #414141;
$text_color_4: #64b0fb;
$text_color_5: #76797c;
/* Цвет чётных блоков */
$evenBlockColor: #f9f9f9;
/* Цвет нечётных блоков */
$oddBlockColor: #ffffff;
$error_color: red;
$font_family_1: ubuntu_regular, sans-serif;
$font_family_2: ubuntu_bold, sans-serif;
$font_family_3: ubuntu_bold_italic, sans-serif;
$font_family_4: ubuntu_regular_italic, sans-serif;
$font_family_5: ubuntu_light, sans-serif;
$font_family_6: ubuntu_medium, sans-serif;
$magistral_font: magistral_norm, sans-serif;
$time_1: 500ms;
$time_2: 250ms;
/*dropzone var*/
$dz_preview_width: 100px;
/*dropzone var end*/
@mixin animation($t)
	{
	-webkit-transition-duration: $t;
    -o-transition-duration: $t;
    -moz-transition-duration: $t;
    transition-duration: $t;
	}
@mixin transform
    	{
            -moz-transform: rotate(270deg); 
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg); 
            -o-transform: rotate(270deg); 
            transform: rotate(270deg);
    	}
@mixin my_opacity($t){opacity: $t;filter: alpha(opacity=$t*100);-moz-opacity: $t;}
	
@mixin menuLi
	{
		position: relative;
		display: inline-block;
		font-family: $font_family_1; 
		font-size: 1em; 
		cursor:pointer; 
		z-index: 500;
	}

	
body {
	background-color: #ffffff;
    /* min-width:1000px;*/
    font: 100%/1.5 $font_family_1;
    color: $text_color_1;
	}
h1 {
	font-family: $font_family_1; 
	font-size: 1.375em; 
	color: $text_color_1;
  }
  h1.blue {color: $link_color;}
h2 {
	font-family: $font_family_1; 
	font-size: 1.125em; color: $main_color;
   }
h3 {
	font-family: $font_family_3; 
	font-size: 1em; 
	color: $text_color_1;
  }
h4 {
  	font-family: $font_family_1; 
  	font-size: 9pt; 
  	color: $main_color;
    }
b  {
	font-family: $font_family_6;
   }
p {
    font-family: $font_family_1;
    font-size: 0.875em;
   }
   p.quote-text {font-size: 1.25em; color: #176bb5;font-family:$font_family_6;}
   p.quote-author {font-size: 1.25em; color: $link_color; font-family:$font_family_1;}
   span.blue_undline{border-bottom: 3px solid #176bb5; padding-bottom: 14px;}
hr {size:1px;}
textarea {resize: none;}

#test{
		position: fixed;left: 5px; top:5px;
	 }
/*quickScroll*/
.quickScroll{
			 
             .arrow {cursor: pointer; width:100%;height:40px;position: absolute; @include my_opacity(0.3); @include animation($time_1);}
			 .arrow:hover {@include my_opacity(0.8); z-index: 9005;}
			 #aUp{
					color: grey;
				 }
			 #aUp:hover {color:$main_color;}
			 #aDwn{
					top:50px;
                    color: grey;
				  }
			 #aDwn:hover {color:$main_color;}
			 position: fixed;
			 left: 30px;
			 top: 10%;
             font-size: 60px;
			 z-index: 9000;
			}
/*quickScroll end*/
/*social icons*/
.social-icons
{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
	@include animation($time_1);
}
#vkontakte
{
    background-image: url('/files/vk.png');
}
#vkontakte:hover
{
    background-image: url('/files/vk_b.png');
}
#twitter
{
    background-image: url('/files/tw.png');
}
#twitter:hover
{
    background-image: url('/files/tw_b.png');
}
#facebook
{
    background-image: url('/files/fb.png');
}
#facebook:hover
{
    background-image: url('/files/fb_b.png');
}
#googlePlus
{
    background-image: url('/files/gp.png');
}
#googlePlus:hover
{
    background-image: url('/files/gp_b.png');
}
/*social icons end*/

.string {font-family: $font_family_1; font-size: 0.875em;}
.str-min {@extend .string; font-size: 0.75em;}
.istring {font-family: $font_family_4; font-size: 0.875em;}
.norm {color: $text_color_1;}
.white{color: white;}
.err {color: $error_color;}
.istring_m{	@extend .istring;font-size: 0.6875em;}
.medium-opacity{@include my_opacity(0.7);}
img.ava {width: 120px;}
#top_photo, #top {position: relative; width:100%;max-width:1600px;min-width: $min_width; margin-left: auto; margin-right: auto; z-index: 1; background-position:center;}
#middle {position: relative; width: 100%; min-width: $min_width; z-index: 1;min-height: 500px;}
#bottom, #footer{position: relative; width: 100%; min-width: $min_width; z-index: 1;}
#footer{background-color:$fiveth_color;height: 105px;}
ul.myBut
{
	list-style: none; 
	float: left;
    a{text-decoration:none; color:white;}
    
    li{
        font-size: 12px; 
        padding: 4px 25px 4px 25px;
        background-color: #afc5d1;
        cursor:pointer;
        border-radius: 10px;
        color:white;
        @include animation($time_1);
      }
    li:hover, li.disabled
    {
        background-color: #cbd0d3;
    }
}
.sQuery
{
    width: 300px;
    font-size: 12px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #afc5d1;
    padding: 5px;
    margin:0px;
    color: #898f99;
}
#ses_p 
{
    ul#userMenu 
    {
    	list-style: none; 
        float: right; 
        position: relative;
        top: 10px;
        li{
            float: left; 
            font-size: 12px; 
            padding: 4px 15px 4px 15px;
            cursor:pointer;
            @include animation($time_1);
            color: #afafaf;
          }
       li:hover, li#c_nav_li
          {
              color: grey;
              text-decoration:underline;
          }
    }
    .sesLink, .sesText
        {
            font-size: 12px;
            padding: 0px;
            margin:0px;
            text-decoration:none;
            color: #898f99;
        }
    #sesText
        {
            border-radius: 8px;
            border-width: 1px;
            border-style: solid;
            border-color: #afc5d1;
            width: 130px;
            font-size: 12px;
            padding: 5px;
        }
    .sesLink:hover {text-decoration:underline;}
}

#mLogo 
{
    cursor:pointer;
}
#logoField  {z-index: 300; position: relative; width: 100%; min-width: $min_width;}
/*links*/
	a.b_link {
		font-family: $font_family_1;
		color: $link_color;
		font-size: 0.8125em;
		text-decoration: none;
		}
	.smiles, a.pointer{cursor: pointer;}
	a.b_link_bold {
		font-family: $font_family_6;
		color: $link_color;
		text-decoration: none;
		}
	a.b_link_bold:hover, a.b_link:hover , a.b_link_i:hover
		{
			text-decoration: underline;
		}
	a.b_link_i {font-family: $font_family_3; font-size: 0.8125em; color:$link_color;text-decoration: none;}
	
	a.w_link {
		font-family: $font_family_1;
		color: white;
		font-size: 0.8125em;
		text-decoration: none;
		}
	a.w_link:hover 
		{
			text-decoration: underline;
		}
	a.w_link_i {font-family: $font_family_3; font-size: 0.8125em;text-decoration: none; color:$link_color;}
	a.w_link_i:hover {text-decoration: underline; }
/*links end*/
/*like_marks*/
.like_marks
{
    cursor:pointer;
	#mark_link
    {
        font-family: $font_family_1;
	    color: $link_color;
	    font-size: 0.8125em;
	    text-decoration: none;
    }
}
.like_marks:hover 
{
    #mark_link {text-decoration: underline;}
    #mark_img {color: $main_color;}
}
/*like_marks end*/    
/*mainMenu*/


	#siteName
	{
        color: white;
        font-family: $font_family_1; font-size: 3em;
        padding: 0;
        margin: 0;
        height:60px;
    }
    #aboutClubLink
    {
        color: white;
        position: relative;
        text-align: center;
        border-color: white;
        border-width: 1px;
        border-radius: 30px;
        margin-top: 35px;
        cursor:pointer;
        float: left;
        p 
        {
            padding: 15px 24px 15px 24px;
            font-size: 0.93em;
            font-family: ubuntu_light, sans-serif;
        }
        a {
            text-decoration: none; color:white;
        }
        div{
            position:absolute; width: 100%; height:100%; background-color: #ffffff; border-radius: 30px; @include my_opacity(0);@include animation($time_1);
        }
        div:hover {@include my_opacity(0.2);}
    }
    #bottomClubName 
      {
        color: white; font-family: $font_family_5; font-size: 1.125em; vertical-align:middle;
    }
	#mainMenu { 
		height: 40px; 
		z-index: 550;
        float:right;
		ul
		{
			list-style: none; 
		}
		li {
			@include menuLi;
			color: black; 	
    		padding-left: 16px;
    		padding-right: 16px;
    		padding-top: 7px;
    		padding-bottom: 8px;	
            font-size: 1em;
		   }
        li:hover {span {color: $main_color;}}
		#c_nav_li {	border-width: 1px;
    		padding-left: 15px;
    		padding-right: 15px;
    		padding-top: 6px;
    		padding-bottom: 7px;
            border-radius: 16px;
					span {color: $main_color;}
					border-color:$main_color; 
                  }	
			
		span:hover {
					color: $main_color; 
				  }
		a {
			text-decoration: none;
			color: black;
		  }
          
	}
	#bottomMenu { 
		z-index: 550;
		ul
			{
				list-style: none; 
			}
		
		li {
    		position: relative;
    		float: left; 
    		color: white; 
    		font-family: $font_family_5; 
    		font-size: 1.125em; 
    		cursor:pointer; 
    		padding-left: 12px;
    		padding-right: 12px;
    		z-index: 500;
    		@include animation($time_1);		
		  }
			
		span {
				padding-bottom: 7px;
				width: 20px;
			}
			
		span:hover {
					border-bottom-width: 2px;
					border-bottom-color:white; 
				  }
		a {
			text-decoration: none;
			color: white;
		  }
	}

/*mainMenu end*/

/* Локальное мини меню */
.l_menu, .l_menu_b {
		position: relative;
	
		li {
			display: inline-block;
            padding-left: 7px;
			padding-right: 7px;
			padding-top: 10px;
			padding-bottom: 10px;
			z-index: 100;
		   }
		li:hover {
					color: $text_color_1;
					border-width: 0;
				 }
		a {
			color: #a2a2a2;
			text-decoration: none;
			font-family: $font_family_1;
		   }
		a:hover {
			color: $text_color_1;
		 }
		 #c_loc_li {color: $main_color;}
		}
.l_menu_b {
        		a {
        			font-size: 14pt;
        		   }
        		}
                .l_menu {
                        		a {
                        			font-size: 9pt;
                        		   }
                        		}
/* Локальное мини меню end */


/*------Пагинация------*/
.pagination
	{
		position: relative;
		font-family: $font_family_6;
		font-size: 9pt;
		float: right;
		color: #a2a2a2;/* #FFF4B2; */
		padding: 10px 0 10px 0;
		text-align: center;
		cursor: pointer;
		z-index: 10;
		@include animation($time_1);
 		a {
			color: #a2a2a2;
		  }
		a:hover
			{
				color: $text_color_1;
			}
		a.previous_page, a.next_page
			{
				font-weight: normal;
				text-decoration:none;
			}
		a.previous_page.disabled, a.next_page.disabled
			{
				text-decoration:none;
			}
		span.current 
			{
				color: $text_color_1;
				text-decoration: underline;
				font-weight: bold;
			}
	}
/*------Пагинация end--*/
 
/* wait line */
    .wl
    {
    	position: relative;
    	width: 125px;
    	height: 10px;
    }

    .wl-item
    {
    	position: relative;
    	height: 100%;
    	width: 20px;
    	margin-right: 5px;
    	float: left;
    	background-color: grey;
    }
/* wait line end */ 
    

/*------VisotaLife-------------------------------------------------------------------------------------------------------------------------------------*/
.cnt-quotes
{
	position: relative;
	width: 90%;
	border-left: 1px solid #858585;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
	p, span {padding-left: 5px; padding-top: 8px; padding-bottom: 8px;font-family: $font_family_4;@include my_opacity(0.7);}
}
.cnt-al-r
{
	position: relative;
	width:100%;
	text-align: right;
}
.cnt-al-c
{
	position: relative;
	text-align: center;
	width:100%;
}
.nav_string 
{
	font-family: $font_family_1;
	z-index: 11;
	width: 100%;
	a {font-size: 10pt;}
	span#splitter {
					font-size: 12pt;
					font-family: $font_family_6;
					
				  }
	span#cur_path  {
					font-size: 10pt;
					color: $text_color_1;
				  }
}

//.mainEntity {background-color: $evenBlockColor;}

.cWrapper {position: absolute; width:100%;height:100%;@include my_opacity(0); background-color:$fourth_color;} 
.mText{font-size: 1em;}
#uploadedPhotos {
					//@extend .odd;
					position: relative;
					width: 100%;
				 }


/*------VisotaLife end---------------------------------------------------------------------------------------------------------------------------------*/

/* Wheather panel */
.right_menu
	{
		position: fixed;
		width: 650px;
		height: 150px;
		right:0; /*изменияемый параметр*/
		top: 20%;
		/* background-color: $second_color; */
		z-index: 600;
		#but_area
			{
				position: relative;
				width: 50px;
				height: 100%;
				display: inline-block;
				float: right;
				#w_but {
						background-color: white; 
						background-image: url('/files/cloud.png');background-repeat: no-repeat; 
						height: 50px;
						width:50px;
						z-index: 601;
						cursor: pointer;
						border-bottom: 1px solid $second_color; 
						border-left: 1px solid $second_color; 
						border-top: 1px solid $second_color; 
						@include animation($time_1);
					   }
				#w_but:hover {
								/* background-color: $main_color; */
								background-image: url('/files/b_cloud.png');
							 }
			}
		
		#cont {
				float: right;
				position: relative;
				display: inline-block;
				height: 100%;
				/* width: 100px; */
				z-index: 601;
				background-color: white; 
				border: 1px solid $second_color;
			  }
		#wh_cont /*Содержит погоду*/
				 {
					position: absolute;
					display: none;
				 }
	}

/* Wheather panel end */
#cButWrapper
{
	position: relative;
	width: 100%; 
	height: 40px;
}
ul.ctrl_but
	{
		padding-top:7px;
		li {float: left; margin-right: 10px;}
	  a {
		font-family: $font_family_1;
		color: $text_color_1;
		text-decoration: none;
		font-size: 14px;
		cursor: pointer;
	  }
	  a:hover {
				font-family: $font_family_1;
				color: $main_color;
				@include animation($time_1);
			    }
	}
.art-binding-ent-list
	{
		position: relative;
		width: 100%;
		height: 120px;
		overflow-y: scroll;
		border: 1px solid grey;
	}
.art-binding-ent-item
	{
		position: relative;
		width: 100%;
		border-top: 1px solid #e1eaf6;
		vertical-align: middle;
		cursor: pointer;
		p{padding-left: 10px; padding-top:7px; padding-bottom: 7px; font-family: $font_family_1; font-size: 12px;}
		@include animation($time_1);
	}
.art-binding-ent-item:hover{background-color:$fourth_color; }

/*foundation_icons*/
.fi-small {font-size: 12px;}
.fi-medium {font-size: 18px;}
.fi-large {font-size: 24px;}
.fi-largest {font-size: 32px;}
.fi-grey {color: grey;}
.fi-blue {color: $main_color;}
.fi-float-left {display: inline-block; padding-left:10px;}
.fi-float-right {float: right;}




