@import "_settings";
	


b  {
	font-family: $font_family_6;
   }
p {
    font-family: $font_family_1;
    font-size: 0.875em;
   }
   p.quote-text {font-size: 1.25em; color: #176bb5;font-family:$font_family_6;}
   p.quote-author {font-size: 1.25em; color: $link_color; font-family:$font_family_1;}
   span.blue_undline{border-bottom: 3px solid #176bb5; padding-bottom: 14px;}
hr {size:1px;}
textarea {resize: none;}

#test{
		position: fixed;left: 5px; top:5px;
	 }
/*quickScroll*/
.quickScroll{
			 
             .arrow {cursor: pointer; width:100%;height:40px;position: absolute; @include my_opacity(0.3); @include animation($time_1);}
			 .arrow:hover {@include my_opacity(0.8); z-index: 9005;}
			 #aUp{
					color: gray;
				 }
			 #aUp:hover {color:$main_color;}
			 #aDwn{
					top:50px;
                    color: gray;
				  }
			 #aDwn:hover {color:$main_color;}
			 position: fixed;
			 left: 30px;
			 top: 10%;
             font-size: 60px;
			 z-index: 9000;
			}
/*quickScroll end*/
/*social icons*/
.social-icons
{
    position: absolute;
    width: 90px;
    height: 90px;
    top:45px;
}
.normal
{
    z-index: 100;
}
.normal:hover {@include my_opacity(0.0);}
.hovered
{
    z-index: 99;
}

/*social icons end*/
.bi-string {font-family:$font_family_3;}
.string {font-family: $font_family_1; font-size: 0.875em;}
.str-min {@extend .string; font-size: 0.75em;}
.istring {font-family: $font_family_4; font-size: 0.875em;}
.norm {color: $text_color_1;}
.white{color: white;}
.err {color: $error_color;}
.istring_m{	@extend .istring;font-size: 0.6875em;}
.medium-opacity{@include my_opacity(0.7);}
img.ava {width: 120px;}

ul.myBut
{
	list-style: none; 
	float: left;
    a{text-decoration:none; color:white;}
    
    li{
        font-size: 12px; 
        padding: 4px 25px 4px 25px;
        background-color: #afc5d1;
        cursor:pointer;
        border-radius: 10px;
        color:white;
        @include animation($time_1);
      }
    li:hover, li.disabled
    {
        background-color: #cbd0d3;
    }
}
.sQuery
{
    width: 300px;
    font-size: 12px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #afc5d1;
    padding: 5px;
    margin:0px;
    color: #898f99;
}



//#logoField  {z-index: 300; position: relative; width: 100%; min-width: $min_width;}
/*links*/
	a.b_link {
		font-family: $font_family_1;
		color: $link_color;
		font-size: 13px;
		text-decoration: none;
		}
	.smiles, a.pointer{cursor: pointer;}
	a.b_link_bold {
		font-family: $font_family_6;
		color: $link_color;
		text-decoration: none;
		}
	a.b_link_bold:hover, a.b_link:hover , a.b_link_i:hover, a.mLink
		{
			text-decoration: underline;
		}
	a.b_link_i {font-family: $font_family_3; font-size: 12px; color:$link_color;text-decoration: none;}
	a.g_link_i {font-family: $font_family_3; font-size: 12px; color:#44e500;text-decoration: none;}
	a.w_link {
		font-family: $font_family_1;
		color: white;
		font-size: 13px;
		text-decoration: none;
		}
	a.w_link:hover 
		{
			text-decoration: underline;
		}
    a.w_link_u 
    {
        @extend a.w_link;
        text-decoration: underline;
    }
	a.w_link_i {font-family: $font_family_3; font-size: 0.8125em;text-decoration: none; color:$link_color;}
	a.w_link_i:hover {text-decoration: underline; }
/*links end*/



/* Локальное мини меню */
.l_menu, .l_menu_b {
		position: relative;
	
		li {
			display: inline-block;
            padding-left: 7px;
			padding-right: 7px;
			padding-top: 10px;
			padding-bottom: 10px;
			z-index: 100;
		   }
		li:hover {
					color: $text_color_1;
					border-width: 0;
				 }
		a {
			color: #a2a2a2;
			text-decoration: none;
			font-family: $font_family_1;
		   }
		a:hover {
			color: $text_color_1;
		 }
		 #c_loc_li {color: $main_color;}
		}
.l_menu_b {
        		a {
        			font-size: 14pt;
        		   }
        		}
                .l_menu {
                        		a {
                        			font-size: 9pt;
                        		   }
                        		}
/* Локальное мини меню end */


/*------Пагинация------*/
.pagination
	{
		position: relative;
		font-family: $font_family_6;
		font-size: 9pt;
		float: right;
		color: #a2a2a2;/* #FFF4B2; */
		padding: 10px 0 10px 0;
		text-align: center;
		cursor: pointer;
		z-index: 10;
		@include animation($time_1);
 		a {
			color: #a2a2a2;
		  }
		a:hover
			{
				color: $text_color_1;
			}
		a.previous_page, a.next_page
			{
				font-weight: normal;
				text-decoration:none;
			}
		a.previous_page.disabled, a.next_page.disabled
			{
				text-decoration:none;
			}
		span.current 
			{
				color: $text_color_1;
				text-decoration: underline;
				font-weight: bold;
			}
	}
/*------Пагинация end--*/
 
/* wait line */
    .wl
    {
    	position: relative;
    	width: 125px;
    	height: 10px;
    }

    .wl-item
    {
    	position: relative;
    	height: 100%;
    	width: 20px;
    	margin-right: 5px;
    	float: left;
    	background-color: gray;
    }
/* wait line end */ 
    

/*------VisotaLife-------------------------------------------------------------------------------------------------------------------------------------*/
.cnt-quotes
{
	position: relative;
	width: 90%;
	border-left: 1px solid #858585;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
	p, span {padding-left: 5px; padding-top: 8px; padding-bottom: 8px;font-family: $font_family_4;@include my_opacity(0.7);}
}
.cnt-al-r
{
	position: relative;
	width:100%;
	text-align: right;
}
.cnt-al-c
{
	position: relative;
	text-align: center;
	width:100%;
}
.cnt-un-num
{
	position: relative;
	margin-left: 40px;
}
.nav_string 
{
	font-family: $font_family_1;
	z-index: 11;
	width: 100%;
	a {font-size: 10pt;}
	span#splitter {
					font-size: 9pt;
				  }
	span#cur_path  {
					font-size: 10pt;
					color: $text_color_1;
				  }
}

//.mainEntity {background-color: $evenBlockColor;}

.cWrapper {position: absolute; width:100%;height:100%;@include my_opacity(0); background-color:$fourth_color;} 
.mText {min-height: 70px;}
.mText, .mText p{font-size: 13px; font-family: Tahoma, Arial;}
.mLink{}
#uploadedPhotos {
					//@extend .odd;
					position: relative;
					width: 100%;
				 }


/*------VisotaLife end---------------------------------------------------------------------------------------------------------------------------------*/

#cButWrapper
{
	position: relative;
	width: 100%; 
	height: 40px;
}
ul.ctrl_but
	{
		padding-top:7px;
		li {float: left; margin-right: 10px;}
	  a {
		font-family: $font_family_1;
		color: $text_color_1;
		text-decoration: none;
		font-size: 14px;
		cursor: pointer;
	  }
	  a:hover {
				font-family: $font_family_1;
				color: $main_color;
				@include animation($time_1);
			    }
	}
.art-binding-ent-list
	{
		position: relative;
		width: 100%;
		height: 120px;
		overflow-y: scroll;
		border: 1px solid grey;
	}
.art-binding-ent-item
	{
		position: relative;
		width: 100%;
		border-top: 1px solid #e1eaf6;
		vertical-align: middle;
		cursor: pointer;
		p{padding-left: 10px; padding-top:7px; padding-bottom: 7px; font-family: $font_family_1; font-size: 12px;}
		@include animation($time_1);
	}
.art-binding-ent-item:hover{background-color:$fourth_color; }






