<%= navigation_string.html_safe %>
<br />
<div class = 'c_box'>
    <div class = 'central_field' id = 'm_1000wh'>
        <%= vote_show_buttons.html_safe %>
    </div>
</div>

<%= vote_show_block.html_safe %>
<br />
<%= navigation_string.html_safe %>
