<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
<div class = 'c_box'>
    <div class = 'm_1000wh'>
        <%= vote_show_buttons.html_safe %>
    </div>
</div>
<%= vote_show_block.html_safe %>
<div class = 'm_1000wh tb-pad-s'>
    <%= navigation_string.html_safe %>
</div>
